.intro-module {
  display: block;
  transition: opacity 0.5s ease-in-out;
  padding: rem-calc(60 0);
  // top: calc(50vh - 50px);
  // transform: translateY(-50%);

  @include breakpoint(xmedium up) {
    padding: rem-calc(100 0 120);
    top: calc(50vh - 50px);
    transform: translateY(-50%);
  }
}

.short .intro-module {
  position: relative;
  top: auto;
  transform: none;
}

.intro-module .container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include breakpoint(xmedium up) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .intro-title {
    color: $dark-blue;
    flex-grow: 1;
    padding-bottom: rem-calc(20);
    padding-right: 0;

    @include breakpoint(xmedium up) {
      padding-bottom: 0;
      padding-right: rem-calc(80);
    }
  }

  h2 {
    font-size: rem-calc(42);
    line-height: 1.2;
    margin-bottom: rem-calc(40);
    margin-left: rem-calc(-3);
    max-width: rem-calc(550);
    padding-bottom: rem-calc(30);
    position: relative;

    @include breakpoint(medium up) {
      font-size: rem-calc(52);
    }

    @include breakpoint(xmedium up) {
      margin-bottom: rem-calc(60);
    }

    @include breakpoint(large up) {
      font-size: rem-calc(64);
    }

    &:after {
      border-bottom: rem-calc(7) solid $dark-blue;
      bottom: rem-calc(3);
      content: '';
      left: rem-calc(5);
      position: absolute;
      width: rem-calc(60);
    }

    sup {
      font-size: 0.5em;
      top: -0.8em;
    }
  }

  img {
    margin-bottom: rem-calc(40);
  }

  .intro-content {
    background-color: $white;
    border: 1px solid $gray;
    padding: rem-calc(20 40);
    width: 100%;

    @include breakpoint(xxsmall up) {
      width: 80%;
    }

    @include breakpoint(xmedium up) {
      min-width: rem-calc(480);
      padding: rem-calc(40 60);
      width: auto;
    }

    input[type='text'],
    input[type='number'] {
      font-size: rem-calc(22);
      height: auto;
      line-height: 1.1;
      padding: rem-calc(15);

      @include breakpoint(xxmedium up) {
        font-size: rem-calc(28);
      }
    }
  }

  p {
    font-size: rem-calc(14);
    width: 100%;

    @include breakpoint(medium up) {
      font-size: rem-calc(16);
      width: 80%;
    }

    @include breakpoint(large up) {
      font-size: rem-calc(18);
      width: 70%;
    }
  }

  .eyebrow {
    color: $dark-blue;
    // font-size: rem-calc(18);
    font-weight: 400;
    margin-bottom: rem-calc(12);
    position: relative;
    text-transform: uppercase;
  }

  input {
    background-color: $light-gray;
    border-color: $light-gray;
    border-radius: rem-calc(4);
    color: $black;
    font-size: rem-calc(22);
    font-weight: 300;
    height: rem-calc(70);
    max-width: none;
    width: 100%;
  }

  .rect-btn {
    border-radius: 0;
    float: right;
    margin-top: rem-calc(20);

    @include breakpoint(medium up) {
      margin-top: rem-calc(30);
    }
  }
}
