.intro-module {
  display: block;
  transition: opacity 0.5s ease-in-out;
  padding: rem-calc(100 0 120);
  top: calc(50vh - 50px);
  transform: translateY(-50%);
}

.short .intro-module {
  position: relative;
  top: auto;
  transform: none;
}

.intro-module .container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .intro-title {
    color: $dark-blue;
    flex-grow: 1;
    vertical-align: middle;
  }

  h2 {
    font-size: rem-calc(64);
    line-height: 1.2;
    margin-bottom: rem-calc(60);
    margin-left: rem-calc(-3);
    padding-bottom: rem-calc(30);
    position: relative;
    white-space: nowrap;

    &:after {
      border-bottom: rem-calc(7) solid $dark-blue;
      bottom: rem-calc(3);
      content: '';
      left: rem-calc(5);
      position: absolute;
      width: rem-calc(60);
    }

    sup {
      font-size: 0.5em;
      top: -0.8em;
    }
  }

  img {
    margin-bottom: rem-calc(40);
  }

  .intro-content {
    background-color: $white;
    border: 1px solid $gray;
    padding: rem-calc(40 60);
    min-width: rem-calc(480);
    vertical-align: middle;

    input[type='text'],
    input[type='number'] {
      font-size: rem-calc(28);
      height: auto;
      line-height: 1.1;
      padding: rem-calc(15);
    }
  }

  p {
    width: 80%;

    @include breakpoint(large up) {
      font-size: rem-calc(18);
      width: 70%;
    }
  }

  .eyebrow {
    color: $dark-blue;
    // font-size: rem-calc(18);
    font-weight: 400;
    margin-bottom: rem-calc(12);
    position: relative;
    text-transform: uppercase;
  }

  input {
    background-color: $light-gray;
    border-color: $light-gray;
    border-radius: rem-calc(4);
    color: $black;
    font-size: rem-calc(22);
    font-weight: 300;
    height: rem-calc(70);
    max-width: none;
    width: 100%;
  }

  .rect-btn {
    border-radius: 0;
    float: right;
    margin-top: rem-calc(30);
    padding: rem-calc(18 0);
  }
}
