.sub-head {
  background-color: $dark-blue;
  // opacity: 0;
  padding: rem-calc(23 0 19);
  // padding: rem-calc(32 0 18);
  // padding: rem-calc(20 0 16);
  transform: translateY(-101%);
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);

  @include breakpoint(xxmedium up) {
    padding: rem-calc(38 0 34);
  }

  .eyebrow {
    color: rgba(255, 255, 255, 0.5);
    // font-size: rem-calc(16);
    margin-bottom: rem-calc(4);
    text-transform: uppercase;
  }

  .grid-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint(xsmall up) {
      flex-wrap: nowrap;
    }
  }
}

.download-report {
  // padding: rem-calc(0 0 0 40);
  display: none;

  @include breakpoint(medium up) {
    display: block;
  }
}

.ladder-name,
.investment-input {
  padding: rem-calc(8 40 0 0);
  position: relative;

  input[type='text'],
  input[type='number'] {
    background-color: transparent;
    border: none;
    border-radius: rem-calc(4);
    color: $white;
    font-size: rem-calc(24);
    font-weight: 300;
    height: auto;
    line-height: 1.4;
    margin-left: rem-calc(-8);
    max-width: none;
    padding: rem-calc(3 8 2);
    transition: background-color 0.25s ease-in-out;

    &:hover,
    &:focus {
      background-color: rgba($blue, 0.25);
    }

    @include breakpoint(xxmedium up) {
      font-size: rem-calc(36);
      margin-left: rem-calc(-14);
      padding: rem-calc(3 14 2);
    }
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .is-focus {
    input[type='text'],
    input[type='number'] {
      padding: rem-calc(3 8 2);

      @include breakpoint(xxmedium up) {
        padding: rem-calc(3 14 2);
      }
    }
  }

  .inputHelper {
    display: inline-block;
    font-size: rem-calc(24);
    font-weight: 300;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    white-space: nowrap;

    @include breakpoint(xxmedium up) {
      font-size: rem-calc(36);
    }
  }
}

.ladder-name {
  padding: rem-calc(4 0 10 0);
  width: 100%;

  @include breakpoint(xsmall up) {
    padding: rem-calc(6 20 0 0);
    width: calc(50% + 30px);
  }

  @include breakpoint(medium up) {
    width: calc(53% - 75px);
  }

  @include breakpoint(xxmedium up) {
    padding: rem-calc(8 40 0 0);
    width: calc(55% - 100px);
  }
}

.investment-input {
  padding: rem-calc(4 0 0 0);
  width: 100%;

  @include breakpoint(xsmall up) {
    padding: rem-calc(6 0 0 0);
    width: calc(50% - 30px);
  }

  @include breakpoint(medium up) {
    width: calc(47% - 75px);
  }

  @include breakpoint(xxmedium up) {
    padding: rem-calc(8 40 0 0);
    width: calc(45% - 100px);
  }
}
