.product-table {
  padding-top: rem-calc(20);
}

.table-sort,
.table-value,
.table-result {
  font-size: rem-calc(14);
  font-weight: 300;

  .row {
    align-items: center;
    display: flex;
    width: 100%;

    .column {
      padding: rem-calc(12 15 11);
      text-align: right;
      width: 7%;

      &:nth-child(2) {
        width: calc(8% - 22px);
      }

      &:nth-child(3) {
        width: 18%;
      }

      &:nth-child(4) {
        width: 14%;
      }

      &:nth-child(5) {
        width: 12%;
      }

      &:nth-child(6) {
        width: 6%;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {
        text-align: left;
      }

      &:nth-child(3),
      &:nth-child(5) {
        line-height: 1.4;
      }

      &:nth-child(4) {
        padding: rem-calc(12 45 11 15);
      }

      &:first-child {
        padding: rem-calc(12 2 11);
        width: rem-calc(22);
      }
    }
  }
}

.table-sort {
  background-color: $light-gray;
  // border-bottom: 1px solid $gray;
  color: $black;
  padding: rem-calc(10 0);

  position: sticky;
  top: 0;
  z-index: 2;

  .row {
    align-items: flex-start;
  }

  .column:nth-child(4) {
    div {
      width: 100%;
      text-align: right;
      .sort-text {
        display: block;
        margin-bottom: rem-calc(10);
      }
    }
  }
}

.table-value {
  position: relative;
}

.table-value .row {
  background-color: $white;
  border: 1px solid $gray;
  border-left: none;
  border-right: none;
  margin-top: rem-calc(-1);
  outline: none;
  padding: rem-calc(10 0);
  transition: background-color 0.25s ease-in-out;

  .column {
    font-weight: 300;
    transition: opacity 0.25s ease-in-out, padding 0.25s ease-in-out;
  }

  .column:nth-child(2) {
    color: $dark-blue;
    font-weight: 600;
    text-transform: uppercase;
  }

  .allocation-field {
    color: $black;
    position: relative;

    input {
      background-color: $light-gray;
      border-color: $light-gray;
      color: $black;
      font-size: rem-calc(14);
      padding: rem-calc(10);
      text-align: right;
      width: 100%;

      &:focus {
        border-color: $dark-blue;
      }
    }

    .usd-option {
      color: $medium-gray;
      display: none;
      font-size: rem-calc(14);
      font-weight: 400;
      left: rem-calc(10);
      position: absolute;
      top: rem-calc(11);
    }

    &.usd {
      input {
        padding-left: rem-calc(40);
      }
      .usd-option {
        display: block;
      }
    }
  }

  &.faded {
    .column {
      opacity: 0.25;
    }

    .column:first-child {
      opacity: 1;
    }

    .column:nth-child(2) {
      color: $black;
    }
  }

  &.hide {
    display: none;
  }
}
