.product-table {
  padding-top: rem-calc(15);
}

.table-sort,
.table-value,
.table-result {
  font-size: rem-calc(14);
  font-weight: 300;

  .grid-x {
    display: table;
    width: 100%;

    .cell {
      display: table-cell;
      padding: rem-calc(12 14 11);
      text-align: right;
      vertical-align: middle;

      &.col-1 {
        width: 9%;
      }

      &.col-2 {
        width: 14%;
      }

      &:nth-child(2) {
        padding: rem-calc(12 14 11 16);
      }

      &:nth-child(4) {
        padding: rem-calc(12 14 11 30);
        width: calc(14% - 20px);
      }

      &:nth-child(2),
      &:nth-child(4) {
        text-align: left;
      }

      &:first-child {
        padding: rem-calc(12 0 11 2);
        width: rem-calc(20);
      }
    }
  }
}

.table-sort {
  background-color: $light-gray;
  border-bottom: 1px solid $gray;
  color: $black;
  font-weight: 300;
  padding: rem-calc(15 0);

  position: sticky;
  top: 0;
  z-index: 2;

  .grid-x .cell {
    vertical-align: top;
  }

  .cell:nth-child(3) {
    div {
      width: 100%;
      text-align: right;
      .sort-text {
        display: block;
        margin-bottom: rem-calc(6);
      }
    }
  }
}

.table-value {
  position: relative;

  .preloader {
    background-color: rgba($white, 0.85);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.on {
      display: block;
    }
  }
}

.table-value .grid-x {
  border: 1px solid $gray;
  border-left: none;
  border-right: none;
  margin-top: rem-calc(-1);
  min-height: rem-calc(75);
  padding: rem-calc(4 0);
  transition: opacity 0.25s ease-in-out;

  .cell:nth-child(2) {
    color: $dark-blue;
    font-weight: 600;
    text-transform: uppercase;
  }

  .allocation-field {
    color: $black;
    position: relative;

    input {
      color: $black;
      font-size: rem-calc(14);
      // padding: rem-calc(8 10);
      padding: rem-calc(10);
      text-align: right;
      width: 100%;
    }

    .usd-option {
      color: $medium-gray;
      display: none;
      font-size: rem-calc(14);
      font-weight: 400;
      left: rem-calc(10);
      position: absolute;
      top: rem-calc(11);
    }

    &.usd {
      input {
        padding-left: rem-calc(40);
      }
      .usd-option {
        display: block;
      }
    }
  }

  &.faded {
    opacity: 0.2;
  }

  &.hide {
    display: none;
  }
}

// .dot-InvestmentGrade,
// .dot-HighYield,
// .dot-EmergingMarketsdebt,
// .dot-MunicipalFixedIncome {
//   border-radius: 50%;
//   display: inline-block;
//   height: rem-calc(12);
//   margin-top: rem-calc(3);
//   width: rem-calc(12);
// }

// .dot-InvestmentGrade {
//   background-color: $dark-blue;
// }

// .dot-HighYield {
//   background-color: $blue;
// }

// .dot-EmergingMarketsdebt {
//   background-color: $blue-gray;
// }

// .dot-MunicipalFixedIncome {
//   background-color: $mint;
// }
