input[type='text'],
input[type='number'],
textarea.editLadderName {
  border: 2px solid $gray;
  border-radius: rem-calc(4);
  color: $dark-blue;
  font-size: rem-calc(18);
  max-width: rem-calc(380);
  outline: none !important;
  padding: rem-calc(13);
  transition: border-color 0.15s ease-in-out;
  width: 100%;

  &:focus {
    border-color: $dark-blue;
    // box-shadow: 0 0 10px #719ECE;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $gray;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea.editLadderName {
  height: calc(20px + 30px);
  resize: none;
}

.modify-btn {
  display: inline-block;
  height: rem-calc(22);
  opacity: 0.35;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  width: rem-calc(22);

  &:before {
    color: $white;
    font-size: rem-calc(22);
    text-decoration: none;
  }

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.flexible-box {
  display: inline-block;
  // margin-left: rem-calc(-14);
  max-width: 100%;
  position: relative;

  input[type='text'],
  input[type='number'] {
    margin-left: 0;
    max-width: 100%;
    // padding: rem-calc(6 44 5 14);
    padding: rem-calc(6 20 5 14);

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($white, 0.15);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba($white, 0.15);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba($white, 0.15);
    }
  }

  input[type='text']:hover ~ .modify-btn,
  input[type='number']:hover ~ .modify-btn {
    opacity: 1;
  }

  .modify-btn {
    // bottom: rem-calc(16);
    bottom: rem-calc(14);
    position: absolute;
    right: rem-calc(12);
  }

  &.is-focus {
    display: block;

    input[type='text'],
    input[type='number'] {
      padding: rem-calc(6 14 5);
      width: 100% !important;
    }

    .modify-btn {
      display: none;
    }
  }
}
