.toggler {
  padding: rem-calc(10 0 35);
  padding: 0;

  .instruction-title {
    margin-left: 0;
  }

  & > div {
    position: relative;
  }
}

.slider {
  padding: rem-calc(10 0 35 80);
}

.allocation-option {
  padding: rem-calc(25 0 0);

  p {
    display: inline-block;
  }
}

.as-of-date {
  padding: rem-calc(25 0 0 80);

  p {
    text-align: right;
  }
}
