.main-container {
  // background-color: $light-gray;
  // background-color: #fbfbfb;
  border-bottom: none;
  margin-bottom: 0;
  position: relative;

  @include breakpoint(xmedium up) {
    // min-height: calc(100vh - 163px);
    min-height: calc(100vh - 70px);
  }
}

.tool .main-container {
  border-bottom: 1px solid $gray;
  margin-bottom: rem-calc(100);

  @include breakpoint(xmedium up) {
    min-height: calc(100vh - 70px);
  }
}

.bg-asset {
  background: url(../../images/section-bg-fpo.gif) bottom left no-repeat;
  background-size: auto 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.intro-module,
.tool-module {
  display: none;
  position: relative;
  top: 0;
  z-index: 8;
}

.instruction-title {
  color: $black;
  display: block;
  margin: rem-calc(0 0 10 7);

  @include breakpoint(xxmedium up) {
    margin: rem-calc(0 0 14 7);
  }

  .value {
    color: $dark-blue;
    float: right;

    &.hide {
      display: none;
    }
  }
}

.main-bg {
  display: block;
  // height: 100vh;
  height: auto;
  position: relative;

  // &:before {
  //   // background-color: $dark-blue;
  //   background-color: $light-gray;
  //   content: '';
  //   height: 100%;
  //   position: absolute;
  //   transition: width 0.75s cubic-bezier(0.75, 0, 0.25, 1) 0s,
  //     height 1s cubic-bezier(0.25, 0.75, 0.25, 1) 0.75s;
  //   // width: 50%;
  //   width: 100%;
  // }

  &.transition {
    // &:before {
    //   height: rem-calc(70);
    //   width: 100%;
    // }

    .bg-asset {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .intro-module {
      opacity: 0;
    }
  }

  .bottom-contents {
    display: none;
  }

  &.tool {
    // height: auto;

    .intro-module {
      display: none;
    }

    .tool-module {
      display: block;

      &.show {
        .sub-head {
          // opacity: 1;
          // transition: opacity 0.5s ease-out 0s;
          transform: translateY(0);
        }

        .component {
          opacity: 1;
          // transition: opacity 0.5s ease-out 0.75s;
          transition: opacity 0.5s ease-out 0.5s;
        }
      }
    }

    .bottom-contents {
      display: block;
      padding-bottom: rem-calc(20);
    }
  }
}
